.navigation-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    column-gap: 1rem;
    text-transform: capitalize;
    padding-inline-start: 0;
}

.navigation-list > a > li{
    list-style-type: none;
    font-weight: 500;
    font-size: 1.2rem;
}

.navigation-list > a {
    text-decoration: none;
    color: #FF6060;
}

.nav-active{
    text-decoration: underline !important;
}

@media screen and (max-width: 497px) {
    .navigation-list > a > li{
        list-style-type: none;
        font-weight: 500;
        font-size: 1.2rem;
        text-transform: uppercase;
    }
}