.home-body{
    width: 100%;
    height: 100%;
}

.home-content{
    padding: 0rem 1rem 0rem 1rem;
    min-height: 875px;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}



@media screen and (max-width: 496px) {
    .header {
        justify-content: space-between;
    }

    .logo-react{
        max-width: 100px;
    }

    .navigation-list > a > li{
        font-size: 0.8rem;
    }
  }